* {
  margin: 0;
  padding: 0;
  outline: solid 1px red;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-area: 1 / 2 / 2 / -1;
  background-color: red;
}

.sidebar {
  background-color: green;
  grid-area: 1 / 1 / -1 / 2;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-columns: 3fr, 1fr;
  grid-template-rows: repeat(auto, 1fr); */
  /* background-color: #a9a9a9; */
  gap: 10px;
}

.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.project {
  background-color: red;
}

.main-right {
  grid-column: 2;
}

.announcements {
  grid-area: 1 / 2;
}

.trending {
  grid-area: 2 / 2;
}