* {
  margin: 0;
  padding: 0;
  outline: solid 1px red;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-area: 1 / 2 / 2 / -1;
  background-color: red;
  padding: 10px;
}

.sidebar {
  background-color: green;
  grid-area: 1 / 1 / -1 / 2;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 100px 100px;
  padding: 20px 20px 20px 10px;
  gap: 10px;
}

.main-left {
  display: grid;
  gap: 10px;
}

.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.project {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

.main-right {
  display: grid;
  gap: 10px;
}